html {
    background-color: rgb(12, 16, 23);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#topbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgb(1, 4, 9);
    border-bottom: 5px solid rgb(91, 91, 91);
}

#sitename {
    font-size: 25px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#topnav {
    display: flex;
    justify-content: center;
}

#navbtn {
    font-size: 15px;
    color: rgb(230, 178, 74);
    width: fit-content;
    height: 30px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 20px;
    border-radius: 5px;
    color: rgb(144, 151, 149);
}

#navbtn:hover {
    color: white;
    background-color: rgb(41, 46, 52);
}

h1, h2 {
    color: white;
}

#sectionbox {
    width: fit-content;
}

#inp_threadname {
    outline: none;
    width: 235px;
    height: 27px;
    border-radius: 5px;
    background-color: transparent;
    border: 1.5px solid gray;
    padding-left: 5px;
    color: white;
}

#submitbtn {
    width: fit-content;
    height: 31px;
    background-color: rgb(62, 135, 55);
    border: 1px solid rgb(79, 152, 85);
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

#submitbtn:hover {
    background-color: rgb(67, 145, 60);
}

#submitbtn:active {
    background-color: rgb(57, 125, 50);
}

#threadlink {
    text-decoration: none;
    display: inline-block;
    margin: 15px;
}

#threadcontainer {
    background-color: rgb(41, 46, 52);
    border-radius: 10px;
    width: fit-content;
    height: 100px;
    padding-right: 30px;
}

#threadcontainer:hover {
    background-color: rgb(52, 56, 61);
}

#threadname {
    padding: 10px;
}

#threaddesc {
    color: rgb(179, 179, 179);
    padding-left: 10px;
    margin-top: -15px;
}

#recthreadcontainer {
    display: flex;
    justify-content: center;
}